.monaco-workbench:not(.modern-ui-tabs) .part.editor > .content .editor-group-container > .title.tabs {
  --editor-group-tab-height: 32px!important;
}

.monaco-workbench.modern-ui-tabs .part.editor > .content .editor-group-container .tabs-and-actions-container .tabs-container {
  --editor-group-tab-height: 26px!important;
}

.monaco-workbench .part.editor > .content .editor-group-container > .title > .tabs-and-actions-container.wrapping .tabs-container > .tab {
  border: 0!important;
}

.monaco-workbench .part.editor > .content .editor-group-container > .title>.tabs-and-actions-container.tabs-border-bottom::after {
  background-color: transparent;
}

.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.active.tab-border-bottom>.tab-border-bottom-container {
  background-color: transparent;
}

.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.sizing-fit,
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.sizing-fit.sticky-shrink,
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.sizing-shrink.sticky-shrink {
  border: 0!important;
}

/* Tab */
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab {
  border-radius: 6px;
}

/* TabList */
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container {
  padding: 6px!important;
  gap: 6px;
}
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-and-actions-container:not(:first-child) .tabs-container {
  padding-top: 0px!important;
}

.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.sizing-fit {
  width: 168px;
}

/* Editor actions (right corner) */
.monaco-workbench .part.editor > .content .editor-group-container > .title .editor-actions {
  outline: none;
}

/* Fix for last-in-row tab sizing */
.monaco-workbench .part.editor > .content .editor-group-container > .title > .tabs-and-actions-container.wrapping .tabs-container > .tab.sizing-fit.last-in-row {
  flex-grow: 0!important;
}

/* Hide new active tab top border */
.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.active.tab-border-top:not(:focus)>.tab-border-top-container, .monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.selected.tab-border-top:not(:focus)>.tab-border-top-container {
  display: none;
}

/* Editor actions */
.monaco-workbench .part.editor > .content .editor-group-container > .title .editor-actions {
  outline: none!important;
}

.modern-ui-tabs.monaco-workbench .part.editor > .content .editor-group-container.active > .title .tabs-container > .tab:not(.selected):hover,
.modern-ui-tabs.monaco-workbench .part.editor .tabs-container > .tab:hover,
.modern-ui-tabs.monaco-workbench .part.editor .tabs-container > .tab.active {
  background-color: var(--modern-ui-connected-tab-surface)!important;
}

.modern-ui-tabs.monaco-workbench .part.editor .tabs-container > .tab:hover .tab-actions,
.modern-ui-tabs.monaco-workbench .part.editor .tabs-container > .tab .tab-actions {
  background-color: transparent!important;
}

.modern-ui-tabs.monaco-workbench .part.editor .tabs-container > .tab > .tab-fill {
  display:none!important;
}