.monaco-workbench .part.editor>.content .editor-group-container>.title>.tabs-and-actions-container,
.monaco-workbench .part.editor > .content .editor-group-container .tabs-and-actions-container .tabs-container {
  background-color: var(--vscode-editorGroupHeader-tabsBackground);
  --editor-group-tab-height: 32px!important;
}

.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab .tab-fill {
  border-radius: 8px;
}

.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-and-actions-container:not(:first-child) .tabs-container {
  padding-top: 0px!important;
}

.monaco-workbench .part.editor > .content .editor-group-container > .title .editor-actions {
  outline: none!important;
}
